<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubt.qrcodelib">
    <application android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".QRScannerActivity"
            android:screenOrientation="portrait"
            />
    </application>
</manifest>
